<div>
    <div>Id:</div>
    <div>{{ user.getId() }}</div>

    <div>Email Address:</div>
    <div>{{ user.getEmailAddress() }}</div>

    <div>First Name:</div>
    <div>{{ user.getFirstName() }}</div>

    <div>Phone Number:</div>
    <div>{{ user.getPhoneNumber() }}</div>
</div>